doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/public/post.css')
    script(src='/public/axios.min.js')
    script.
      window.postId = "#{id}"
  body
    block content
    script(src='/public/post.js')
