.page-container.post-page {
  width: 700px;
  margin: 30px auto;
}
.page-container.post-page .title {
  margin: 0;
  margin-bottom: 5px;
}
.page-container.post-page .post-date {
  margin: 0;
  font-size: 0.8em;
  color: #b3b3b1;
}
.page-container.post-page .post-labels {
  margin: 5px 0;
  font-size: 0.8em;
  color: #b3b3b1;
}
.page-container.post-page .post-content {
  line-height: 1.5em;
  margin: 10px 0;
}
.page-container.post-page .post-content h1,
.page-container.post-page .post-content h2,
.page-container.post-page .post-content h3,
.page-container.post-page .post-content h4,
.page-container.post-page .post-content h5,
.page-container.post-page .post-content h6 {
  margin: 0.5em 0;
}
.page-container.post-page .post-content ul,
.page-container.post-page .post-content ol {
  list-style: initial;
  padding-inline-start: 1.5em;
}
.page-container.post-page .post-content ol {
  list-style-type: decimal;
}
.page-container.post-page .post-content a {
  color: #78bd86;
  text-decoration: underline;
}
.page-container.post-page .post-content a:hover {
  color: #57ad68;
}
.page-container.post-page .post-content code {
  display: block;
  background: #eff0f1;
  padding: 0.2em 0.5em;
  line-height: 2em;
  word-break: break-all;
  margin: 0.5em 0;
  white-space: pre;
}
.page-container.post-page .post-content img {
  display: block;
  margin: 10px 0;
  max-width: 680px;
}
.page-container.post-page .post-content blockquote {
  margin-left: 0;
  padding-left: 10px;
  border-left: 4px solid #cccccc;
  color: #8c8c8c;
}
.page-container.post-page .last-modified {
  margin: 0;
  font-size: 0.8em;
  color: #b3b3b1;
}
.page-container.post-page .operation.hidden {
  display: none;
  margin: 10px 0;
}
.page-container.post-page .operation.hidden button.remove {
  border: none;
  background: none;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
  color: inherit;
  margin-right: 10px;
}
.page-container.post-page .operation.hidden button.remove:hover {
  color: #57ad68;
}
.page-container.post-page .operation.hidden a.edit {
  font-size: 1em;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.page-container.post-page .operation.hidden a.edit:hover {
  color: #57ad68;
}
@media screen and (max-width: 960px) {
  .page-container.post-page {
    width: 100%;
    padding: 3vw;
    margin: 0;
    box-sizing: border-box;
  }
  .page-container.post-page .post-content img {
    max-width: 100%;
  }
}
