html, body, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

input, button, textarea {
  outline: none;
}

button {
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: #4a4a4a;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}


@media screen and (max-width: 960px) {
  body {
    font-size: 14px;
  }
}